ipykernel
python-dotenv
pandas
numpy
pymongo
certifi
pymongo[srv]
scikit-learn
dill
pyyaml
xgboost
fastapi
uvicorn
ipykernel
apache-airflow
mlflow
dvc
jinja2
python-multipart
apache-airflow[postgres]==2.7.3
Flask-Session==0.5.0
-e .